@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 100%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;
    --ring: 215 20.2% 65.1%;
    --radius: 0.5rem;

    /* custom */
    --main-bg: 229 18% 12%;
    --sub-bg: 226.7 18.8% 18.8%;
    --yellow: 45.4 88.4% 76.3%;
    --px-desktop: 40px;
    --px-medium: 28px;
    --px-mobile: 16px;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-main-bg font-sans text-white antialiased;
  }

  h2 {
    @apply pb-3 text-xl font-bold md:text-2xl xl:pb-5 xl:text-3xl;
  }
}

@layer utilities {
  .image-container::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.1) 10%, transparent 10%),
      radial-gradient(circle, rgba(0, 0, 0, 0.1) 10%, transparent 10%),
      radial-gradient(circle, rgba(0, 0, 0, 0.1) 10%, transparent 10%);
    background-size: 3px 3px; /* Kích thước của các chấm */
    background-position:
      0 0,
      5px 5px,
      10px 10px;
    pointer-events: none;
    touch-action: pan-y pinch-zoom;
  }

  .cover-fade {
    background-image: linear-gradient(to right, #2f3346 20%, #2f3346, transparent);
  }
}
